<img class="image img-fluid card-img-top"/>
<div class="card-body">
    <h5 class="title card-title"></h5>
    <p class="description card-text"></p>
    <br>
    Author: <span class="author"></span>
    <br>
    Demographic: <span class="demographic"></span>
    <br>
    Genres: <span class="genres"></span>
    <br>
    First Publication Date: <span class="first-publication-date"></span>
    <br>
    Last Publication Date: <span class="last-publication-date"></span>
    <br>
    Volumes: <span class="volumes"></span>
    <br><br>
    <div class="text-center">
        <a href="#" class="btn btn-primary ">More details</a>
    </div>
</div>
